:root {
  --primary: #E74C3C;
  --secondary: #FFF4EF;
  --tertiary: #D13E6C;
  --black: #000;
  --gray-1: #323232;
  --gray-2: #7A7A7A;
  --gray-3: #BABABA;
  --gray-4: #F2F2F2;
  --font-headline: "Comfortaa";
  --font-content: "Nunito";
  --container-gutter: 5%;
  --media-medium: 768px;
  --media-large: 992px;
  --media-extra-large: 1200px;
  --gradient: linear-gradient(45deg, var(--tertiary), var(--primary));
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  background: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
}

p,
a,
label {
  font-family: var(--font-content);
  font-weight: 300;
  font-size: 1.4rem;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

h2,
h3 {
  font-family: var(--font-content);
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section {
  margin-bottom: 40px;
  z-index: 1;
}

.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: center;
}

.align-items-end {
  align-items: center;
}

.element-center {
  margin-left: auto;
  margin-right: auto;
}

/* TEXT */
.text-center {
  text-align: center;
}

.title--lg {
  font-family: var(--font-headline);
  font-size: 3.2rem;
}

.title--sm {
  font-family: var(--font-content);
  font-size: 2.2rem;
  font-weight: 500;
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 18px 60px;
  background: var(--secondary);
  border: 0;
  border-radius: 100px;
  color: var(--primary);
  cursor: pointer;
  font-size: 1.6rem;
  box-shadow: 0 0 0 0px var(--secondary);
  transition: box-shadow .8s;
}

.btn:hover {
  box-shadow: 0 0 26px 1px var(--secondary);
  transition: box-shadow .8s;
}
/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .title--lg {
    font-size: 5.2rem;
  }
}

@media screen and (min-width: 992px) {
  p,
  a,
  label {
    font-family: var(--font-content);
    font-weight: 300;
    font-size: 2rem;
  }

  .title--lg {
    font-size: 6.2rem;
  }

  .title--sm {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  p,
  a,
  label {
    font-family: var(--font-content);
    font-weight: 300;
    font-size: 2.2rem;
  }

  .title--lg {
    font-size: 6.4rem;
  }

  .title--sm {
    font-size: 3.2rem;
  }

  .title--lg {
    font-size: 7.2rem;
  }
}