.header {
  padding: 20px var(--container-gutter);
  position: sticky;
  top: 10px;
  width: 98%;
  margin: 0 auto;
  border-radius: 100px;
  z-index: 2;
}

.header__logotipo {
  width: 40px;
}

.header__nav {
  display: flex;
  gap: 10px;
  color: var(--gray-1);
}